[build-system]
requires = ["flit_core >=3.2,<4"]
build-backend = "flit_core.buildapi"

[project]
name = "bonded"
version = "0.1a2"
readme = "README.md"
license = {file = "LICENSE"}
authors = [{name = "Jeremiah Paige", email = "ucodery@gmail.com"}]
classifiers = ["License :: OSI Approved :: MIT License"]
keywords = ["linter", "imports", "project", "metadata"]
dynamic = ["description"]

dependencies = [
    "packaging",
    "provides",
    "tabulate",
    "tomli",
]

[project.urls]
Home = "https://github.com/ucodery/bonded"

[project.optional-dependencies]
test = ["pytest >=2.7.3"]
